.container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  width: 210px;
  height: 150px;
  margin: 20px;
  background: #232323;
  flex: none;
  border-radius: 4.68775px;
  transition: all 1s ease;
}
.left {
  margin: 10px;
}
.img {
  border-radius: 5px;
}
.locat {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
}
.desc {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.right {
  height: 90px;
  margin-left: 0px;
}
.name {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;

  color: #ffffff;
}
.brand {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.6);
}
.price {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;

  color: #ffffff;
}
.date {
  font-family: SF Pro Rounded;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.6);
}

.arrContainer {
  position: absolute;
  max-width: 100%;
  right: 50px;
  top: 45%;
}
.arr {
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .cardContainer {
    width: 190px;
    height: 110px;
  }

  .locat {
    font-size: 8px;
  }
  .desc {
    font-size: 8px;
  }
  .name {
    font-size: 10px;
  }
  .brand {
    font-size: 8px;
  }
  .price {
    font-size: 7px;
  }
  .date {
    font-size: 7px;
  }
}
@media screen and (max-width: 768px) {
  .cardContainer {
    width: 160px;
    height: 100px;
  }

  .locat {
    font-size: 7px;
  }
  .desc {
    font-size: 7px;
  }
  .name {
    font-size: 9px;
  }
  .brand {
    font-size: 7px;
  }
  .price {
    font-size: 6px;
  }
  .date {
    font-size: 6px;
  }
}
@media screen and (max-width: 480px) {
  .cardContainer {
    width: 160px;
    height: 90px;
  }
}
